<div class="container-fluid" style="background-color: lightgrey">
  <navbar [items]="items"></navbar>
  <div class="row mt-2">
    <div class="col-lg-8 col-12 bg-white ml-1 mr-1">
      <div class="row border-bottom">
        <div
          class="col-6"
          style="
            font-size: 15px;
            line-height: 56px;
            padding: 0 24px;
            font-weight: 500;
          "
        >
          My Cart({{ items }})
        </div>
      </div>
      <div *ngFor="let p1 of prod">
        <app-cart
          [prod]="p1"
          (decsPrice)="priceDecs($event)"
          (incsPrice)="priceIncs($event)"
        ></app-cart>
      </div>
    </div>
    <div class="col-lg-3 col-12 ml-1">
      <div class="row bg-white">
        <div class="col">
          <div
            class="row border-bottom"
            style="
              font-size: 14px;
              font-weight: 500;
              color: #878787;
              min-height: 47px;
            "
          >
            <div class="col pt-2">PRICE DETAILS</div>
          </div>
          <div class="row pt-2 pb-2">
            <div class="col-6">Price({{ items }} items)</div>
            <div class="col-6 text-right">₹{{ totalPrice }}</div>
          </div>
          <div class="row pt-2 pb-2">
            <div class="col-6">Delivery</div>
            <div class="col-6 text-success text-right">FREE</div>
          </div>
          <div
            class="row pt-2 pb-2"
            style="
              font-weight: 500;
              border-top: 1px dashed e0e0e0;
              font-size: 18px;
            "
          >
            <div class="col-6">Total Payable</div>
            <div class="col-6 text-right">₹{{ totalPrice }}</div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-1">
          <img
            src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/shield_435391.svg"
            style="width: 25px"
          />
        </div>
        <div
          class="col-9"
          style="
            font-size: 14px;
            text-align: left;
            font-weight: 500;
            display: inline-block;
            color: #878787;
          "
        >
          Safe and Secure Payments.Easy returns.100% Authentic products.
        </div>
      </div>
    </div>
  </div>
</div>
