<div class="row" style="background-color: #2874f0">
  <div class="col-lg-2 col-4 mt-1 p-0 text-right">
    <div class="row ml-1">
      <img
        class="img-fluid"
        routerLinkActive="active"
        routerLink="/home"
        src="https://i.ibb.co/qs8BK6Y/flipkart-plus-4ee2f9.png"
        style="width: 100px; cursor: pointer"
      />
    </div>
    <div class="row text-primary ml-1">
      <a class="text-white" href="#" style="font-size: 10px">
        <i>
          Explore
          <span style="color: yellow">
            Plus
            <img
              src="https://i.ibb.co/t2WXyzj/plus-b13a8b.png"
              style="width: 10px"
            />
          </span>
        </i>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-5 mt-2 p-0">
    <input
      class="form-control"
      placeholder="Search for products, brands and more"
      [(ngModel)]="q"
      (change)="search()"
    />
  </div>
  <div
    class="col-2 text-white mt-1 text-center p-0 d-none d-lg-block"
    style="min-height: 20px"
  >
    <div class="dropdown">
      <div class="dropbtn1">
        My Account
        <span>
          <i
            id="onhover"
            style="font-size: 10px; color: lightgrey"
            class="fa fa-chevron-down"
          ></i>
        </span>
      </div>
      <div class="dropdown-content">
        <div>
          <a href="#">My Profile</a>
        </div>
        <div>
          <a href="#">Orders</a>
        </div>
        <div>
          <a href="#">Wishlist</a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-1 text-white mt-1 p-0 d-none d-lg-block"
    style="min-height: 20px"
  >
    <div class="dropdown">
      <div class="dropbtn1">
        More
        <i
          id="onhover"
          style="font-size: 10px; color: lightgrey"
          class="fa fa-chevron-down"
        ></i>
      </div>
      <div class="dropdown-content">
        <div>
          <a href="#">Notification</a>
        </div>
        <div>
          <a href="#">Sell on Flipkart</a>
        </div>
        <div>
          <a href="#">24X7 Customer Care</a>
        </div>
        <div>
          <a href="#">Advertise</a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-2 col-3 text-white mt-3 p-0"
    routerLinkActive="active"
    routerLink="/home/checkout"
    style="cursor: pointer"
  >
    <i class="fa fa-shopping-cart" routerLinkActive="active"></i>
    <span id="cartcss" *ngIf="items > 0">{{ items }}</span>
    &nbsp;&nbsp;
    <span>Cart</span>
  </div>
</div>
<div
  class="row bg-white"
  style="
    color: #212121;
    min-height: 25px;
    font-family: Roboto, Arial, sans-serif;
  "
>
  <div class="col-4 text-center" id="onhover">
    <div class="dropdown">
      <div class="dropbtn">
        Mobiles
        <i
          class="fa fa-chevron-down"
          id="onhover"
          style="font-size: 10px; color: lightgrey"
        ></i>
      </div>
      <div class="dropdown-content">
        <div>
          <a (click)="selectMobiles('Mi')">Mi</a>
        </div>
        <div>
          <a (click)="selectMobiles('RealMe')">RealMe</a>
        </div>
        <div>
          <a (click)="selectMobiles('Samsung')">Samsung</a>
        </div>
        <div>
          <a (click)="selectMobiles('OPPO')">OPPO</a>
        </div>
        <div>
          <a (click)="selectMobiles('Apple')">Apple</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 text-center" id="onhover">
    <div class="dropdown">
      <div class="dropbtn">
        Laptops
        <i
          class="fa fa-chevron-down"
          id="onhover"
          style="font-size: 10px; color: lightgrey"
        ></i>
      </div>
      <div class="dropdown-content">
        <div>
          <a (click)="selectLaptop('Apple')">Apple</a>
        </div>
        <div>
          <a (click)="selectLaptop('HP')">HP</a>
        </div>
        <div>
          <a (click)="selectLaptop('Dell')">Dell</a>
        </div>
        <div>
          <a (click)="selectLaptop('Acer')">Acer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 text-center" id="onhover">
    <div class="dropdown">
      <div class="dropbtn">
        Cameras
        <i
          class="fa fa-chevron-down"
          id="onhover"
          style="font-size: 10px; color: lightgrey"
        ></i>
      </div>
      <div class="dropdown-content">
        <div>
          <a (click)="selectCameras('DSLR')">DSLR</a>
        </div>
        <div>
          <a (click)="selectCameras('Lens')">Lens</a>
        </div>
        <div>
          <a (click)="selectCameras('Tripods')">Tripods</a>
        </div>
        <div>
          <a (click)="selectCameras('Compact')">Compact</a>
        </div>
        <div>
          <a (click)="selectCameras('Accessories')">Accessories</a>
        </div>
      </div>
    </div>
  </div>
</div>
