<div class="row bg-white border-bottom pt-2 pb-2">
  <div
    class="col"
    style="
      font-size: 18px;
      text-transform: capitalize;
      width: 67%;
      font-weight: 500;
    "
  >
    Filters
  </div>
</div>
<div class="row bg-white pt-2 pb-2">
  <div class="col-9">
    <div class="form-check">
      <label>
        <input
          type="checkbox"
          id="{{ assured.assured }}"
          value="assured.selected"
          (change)="emitChange()"
          [(ngModel)]="assured.selected"
        />&nbsp;
        <img
          src="https://i.ibb.co/t8bPSBN/fa-8b4b59.png"
          style="width: 80px; height: 21px"
        />
      </label>
    </div>
  </div>
  <div class="col-3">
    <span class="question">?</span>
  </div>
</div>
<div class="row bg-white border-top">
  <div class="col-10">
    <div
      class="row ml-1 pb-2"
      style="
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        display: inline-block;
      "
    >
      RAM
    </div>
    <div *ngIf="!isExpanded">
      <div class="row form-check ml-1 pb-1" *ngFor="let r1 of ram">
        <div
          class="form-check"
          style="
            vertical-align: middle;
            font-size: 14px;
            padding-left: 11px;
            color: #212121;
            display: inline-block;
            width: calc(100%-25px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            cursor: pointer;
          "
        >
          <label for="{{ r1.ram }}">
            <input
              name="ram"
              type="checkbox"
              id="{{ r1.ram }}"
              value="r1.selected"
              (change)="emitChange()"
              [(ngModel)]="r1.selected"
            />&nbsp;
            {{ r1.display }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 text-right">
    <span (click)="ramZippy()">
      <i
        class="fa fa-chevron-{{ isExpanded ? 'down' : 'up' }}"
        style="font-size: 10px; color: lightgrey; cursor: pointer"
      ></i>
    </span>
  </div>
</div>
<div class="row bg-white border-top">
  <div class="col-10">
    <div
      class="row ml-1 pb-2"
      style="
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        display: inline-block;
      "
    >
      Customer Rating
    </div>
    <div *ngIf="!ratingExpand">
      <div class="row form-check ml-1 pb-1" *ngFor="let r1 of rating">
        <div
          class="form-check text-dark"
          style="
            vertical-align: middle;
            font-size: 14px;
            padding-left: 11px;
            color: #212121;
            display: inline-block;
            width: calc(100%-25px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            cursor: pointer;
          "
        >
          <label>
            <input
              name="ram"
              type="checkbox"
              id="{{ r1.rating }}"
              value="{{ r1.selected }}"
              (change)="emitChange()"
              [(ngModel)]="r1.selected"
            />&nbsp; {{ r1.display
            }}<i style="font-size: 8px" class="fa fa-star"></i> & above
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 text-right">
    <span (click)="ratingZippy()">
      <i
        class="fa fa-chevron-{{ ratingExpand ? 'down' : 'up' }}"
        style="font-size: 10px; color: lightgrey; cursor: pointer"
      ></i>
    </span>
  </div>
</div>
<div class="row bg-white border-top">
  <div class="col-10">
    <div
      class="row ml-1 pb-2"
      style="
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        display: inline-block;
      "
    >
      Price
    </div>
    <div *ngIf="!priceExpand">
      <div class="row form-check ml-1 pb-1" *ngFor="let p1 of price">
        <div
          class="form-check text-dark"
          style="
            vertical-align: middle;
            font-size: 14px;
            padding-left: 11px;
            color: #212121;
            display: inline-block;
            width: calc(100%-25px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            cursor: pointer;
          "
        >
          <label>
            <input
              name="ram"
              type="checkbox"
              id="{{ p1.price }}"
              value="{{ p1.selected }}"
              (change)="emitChange()"
              [(ngModel)]="p1.selected"
            />&nbsp; {{ p1.display }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 text-right">
    <span (click)="priceZippy()">
      <i
        class="fa fa-chevron-{{ priceExpand ? 'down' : 'up' }}"
        style="font-size: 10px; color: lightgrey; cursor: pointer"
      ></i>
    </span>
  </div>
</div>
