<div class="row mt-1 bg-white">
  <div class="col-lg-2 col-4">
    <div class="row">
      <div class="col text-center">
        <img style="width: 50px; height: 92px" src="{{ prod.prod.img }}" />
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 text-center">
        <button
          class="btn btn-sm"
          style="
            background-color: white;
            border-color: #e0e0e0;
            cursor: auto;
            border-radius: 50%;
            cursor: pointer;
            font-size: 12px;
          "
          (click)="decs()"
          *ngIf="prod.items >= 2"
        >
          -
        </button>
        <button
          class="btn btn-sm"
          style="
            background-color: white;
            border-color: #e0e0e0;
            cursor: auto;
            border-radius: 50%;
            cursor: pointer;
            font-size: 12px;
          "
          (click)="decs()"
          disabled
          *ngIf="prod.items < 2"
        >
          -
        </button>
        <span id="item">{{ prod.items }}</span>
        <button
          class="btn btn-sm"
          style="
            background-color: white;
            border-color: #e0e0e0;
            cursor: auto;
            border-radius: 50%;
            cursor: pointer;
            font-size: 12px;
          "
          (click)="incs()"
        >
          +
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-4">
    <div class="row">
      <div class="col" style="font-size: 16px; color: #212121">
        {{ prod.prod.name }}
      </div>
    </div>
    <div class="row">
      <div class="col" style="color: #878787; font-size: 14px">
        {{ prod.prod.brand }}&nbsp;&nbsp;
        <span>
          <img
            class="img-fluid"
            src="https://i.ibb.co/XCQBqSr/fa-8b4b59.png"
            style="width: 70px"
          />
        </span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col" style="font-weight: 500">
        {{ prod.prod.price }}&nbsp;
        <span
          style="text-decoration: line-through; font-size: 16px; color: #878787"
        >
          {{ prod.prod.prevPrice }} </span
        >&nbsp;
        <span style="color: #388e3c; font-size: 16px; font-weight: 500">
          {{ prod.prod.discount }}%
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-4">
    <div class="row">
      <div class="col" style="font-size: 14px">
        Delivery in 2 days | Free
        <span style="text-decoration: line-through">₹40</span>
      </div>
    </div>
    <div class="row">
      <div class="col" style="font-size: 12px; color: gray">
        10 Days Replacement
      </div>
    </div>
  </div>
</div>
<hr />
