<div class="container-fluid">
  <navbar [items]="items"></navbar>
  <div class="row mt-2">
    <div class="col-2 ml-2 d-none d-lg-block">
      <left
        [ram]="ramStruct"
        [price]="priceStruct"
        [rate]="ratingStruct"
        [assured]="assStruct"
        (selOption)="optChange()"
      ></left>
    </div>
    <div class="col-lg-9 col-12 bg-white ml-1">
      <div class="row">
        <div class="col">
          <nav
            aria-label="breadcrumb"
            style="font-size: 10px; background-color: white"
          >
            <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a
                  routerLink="/home/{{ category }}/"
                  routerLinkActive="active"
                  (click)="goto()"
                >
                  {{ category }}
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ brand }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">{{ brand }} {{ category }}</div>
      </div>
      <div class="row pb-1 border-bottom" style="font-size: 14px">
        <div class="col-2 d-none d-lg-block">
          <strong>Sort By</strong>
        </div>
        <div
          class="col-1 {{ pop ? 'text-primary' : '' }} d-none d-lg-block"
          style="cursor: pointer; border-bottom: 5px"
          (click)="sortBy('Popularity')"
        >
          Popularity
        </div>
        <div
          class="col-2 {{ desc ? 'text-primary' : '' }} d-none d-lg-block"
          style="cursor: pointer"
          (click)="sortBy('high to low')"
        >
          Price High to Low
        </div>
        <div
          class="col-2 {{ asc ? 'text-primary' : '' }} d-none d-lg-block"
          style="cursor: pointer"
          (click)="sortBy('low to high')"
        >
          Price Low to High
        </div>
      </div>
      <div *ngFor="let p1 of products">
        <product [prod]="p1"></product>
      </div>
      <div class="row" *ngIf="products">
        <div class="col-lg-2 col-4">
          Page {{ pageNumber }} of {{ numberOfPages }}
        </div>
        <div
          class="col-8 p-0 text-center"
          style="
            cursor: pointer;
            line-height: 32px;
            height: 32px;
            width: 32px;
            border-radius: 50%;
          "
          *ngIf="pageArr"
        >
          <span
            *ngFor="let p1 of pageArr"
            [ngClass]="pageNumber == p1 ? 'pagecss' : ''"
            (click)="atPage(p1)"
            >{{ p1 }}&nbsp;&nbsp;&nbsp;
          </span>
          <a
            *ngIf="numberOfPages > 1 && pageNumber < numberOfPages"
            class="text-primary"
            (click)="nextPage()"
            >Next</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
