<div class="row" *ngIf="prod">
  <div class="col-lg-4 col-9 text-center" (click)="prodDetails(prod.id)">
    <img
      *ngIf="prod.category != 'Laptops'"
      src="{{ prod.img }}"
      routerLinkActive="active"
      style="height: 200px; width: 100px; cursor: pointer"
    />
    <img
      *ngIf="prod.category === 'Laptops'"
      src="{{ prod.img }}"
      routerLinkActive="active"
      style="height: 150px; width: 250px; cursor: pointer"
    />
  </div>
  <div
    class="col-lg-1 col-2 {{ heart ? 'text-danger' : 'text-secondary' }}"
    (click)="like()"
  >
    <i class="fa fa-heart"></i>
  </div>
  <div class="col-lg-4 col-12 text-left">
    <div class="row">
      <div class="col" style="font-size: 16px; cursor: pointer">
        <span
          id="namecss"
          routerLinkActive="active"
          (click)="prodDetails(prod.id)"
          >{{ prod.name }}</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span
          style="
            line-height: normal;
            display: inline-block;
            color: #fff;
            padding: 2px 4px 2px 6px;
            border-radius: 3px;
            font-weight: 500;
            font-size: 12px;
            vertical-align: middle;
            background-color: #388e3c;
          "
        >
          <strong
            >{{ prod.rating }}&nbsp;
            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwM
            C9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQ
            zOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEyb
            DEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
            />
          </strong>
        </span>
        &nbsp;
        <span class="text-muted">{{ prod.ratingDesc }}</span>
      </div>
    </div>
    <ul
      style="color: #c2c2c2; font-size: 12px; display: inline; padding: 0%"
      *ngFor="let d1 of prod.details"
    >
      <li>{{ d1 }}</li>
    </ul>
  </div>
  <div class="col-lg-2 col-12">
    <div class="row">
      <div class="col" style="font-size: 25px">
        <strong>{{ prod.price }}</strong>
        &nbsp;
        <span>
          <img
            class="img-fluid"
            src="https://i.ibb.co/t8bPSBN/fa-8b4b59.png"
            style="width: 70px"
          />
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span
          style="text-decoration: line-through; font-size: 14px; color: #878787"
        >
          {{ prod.prevPrice }}
        </span>
        &nbsp;
        <span style="color: #388e3c; font-size: 13px; font-weight: 500">
          {{ prod.discount }}%
        </span>
      </div>
    </div>
    <div class="row" style="font-size: 14px">
      <div class="col">{{ prod.EMI }}</div>
    </div>
    <div class="row" style="font-size: 14px">
      <div class="col">{{ prod.exchange }}</div>
    </div>
  </div>
</div>
<hr />
