/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#onhover:hover {
  color: #2874f0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn1 {
  padding: 14px;
  font-size: 16px;
  border: none;
}
.dropbtn {
  padding: 14px;
  font-size: 14px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0/20%);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: #2874f0;
}
#namecss:hover {
  color: #00f;
}
#cartcss {
  position: absolute;
  left: 11px;
  top: 1px;
  text-align: center;
  border-radius: 8px;
  width: 18px;
  height: 18px;
  background-color: #ff6161;
  border: 1px solid #fff;
  font-weight: 400;
  color: #f0f0f0;
  line-height: 16px;
  font-size: 10px;
}
#item {
  height: 5px;
  width: 100px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #000;
  font-size: 14px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-weight: 400;
  border-radius: 3px;
}
.question {
  border-radius: 50%;
  background-color: #fff;
  color: #878787;
  font-weight: 500;
  width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 1px 0 rgb(0 0 0/20%);
  vertical-align: middle;
  margin: 0 2px 0 8px;
  cursor: pointer;
}
