<div class="container-fluid">
  <navbar [items]="items"></navbar>
  <div
    class="carousel slide"
    id="carouselExampleIndicators"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        class="active"
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
      ></li>
      <li
        class="active"
        data-target="#carouselExampleIndicators"
        data-slide-to="1"
      ></li>
      <li
        class="active"
        data-target="#carouselExampleIndicators"
        data-slide-to="2"
      ></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          alt="First slide"
          class="d-block w-100"
          src="https://i.ibb.co/tq9j6V7/4dfdf0c59f26c4a1.jpg"
        />
      </div>
      <div class="carousel-item">
        <img
          alt="Second slide"
          class="d-block w-100"
          src="https://i.ibb.co/qxHzVsp/30d7dffe1a1eae09.jpg"
        />
      </div>
      <div class="carousel-item">
        <img
          alt="Third slide"
          class="d-block w-100"
          src="https://i.ibb.co/vQZhcvT/68af1ae7331acd1c.jpg"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      data-slide="prev"
      href="#carouselExampleIndicators"
      role="button"
    >
      <span aria-hidden="true" class="carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      data-slide="next"
      href="#carouselExampleIndicators"
      role="button"
    >
      <span aria-hidden="true" class="carousel-control-next-icon"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="row mt-1">
    <div
      class="col-lg-9 col-12 border border-bottom ml-0"
      style="background-color: white; font-size: 22px; line-height: 32px"
    >
      <b>Deals of the Day</b>
      <hr />
      <div class="row" *ngIf="data">
        <div
          class="col-1 text-left"
          *ngIf="startIndex != 0"
          (click)="previous()"
        >
          <button
            style="
              align-self: center;
              padding: 60px 5px;
              color: black;
              box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
              background-color: hsla(0, 0%, 100%, 0.98);
              cursor: pointer;
              display: flex;
              position: absolute;
              z-index: 1;
            "
          >
            <i class="fa fa-angle-left"></i>
          </button>
        </div>
        <div class="col-lg-2 col-3 text-center" *ngFor="let m1 of mobiles">
          <deal [mobile]="m1"></deal>
        </div>
        <div class="col-1 text-left">
          <button
            style="
              align-self: center;
              padding: 60px 5px;
              color: black;
              box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
              background-color: hsla(0, 0%, 100%, 0.98);
              cursor: pointer;
              display: flex;
              position: absolute;
              z-index: 1;
            "
            *ngIf="endIndex < data.length"
            (click)="next()"
          >
            <i class="fa fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-2 border-light ml-1 bg-white text-right d-none d-lg-block">
      <img
        class="img-fluid"
        src="https://i.ibb.co/1GBrRnn/fa04c5362949d9f1.jpg"
        style="width: auto"
      />
    </div>
  </div>
  <div class="row ml-1 mt-1">
    <div class="col-4 text-center">
      <img
        class="img-fluid"
        routerLinkActive="active"
        src="https://i.ibb.co/dPVHZGW/d5db30a716f82657.jpg"
        style="width: auto; height: auto"
      />
    </div>
    <div class="col-4 text-center">
      <img
        class="img-fluid"
        routerLinkActive="active"
        src="https://i.ibb.co/Lzz36zB/31efaad41a3e4208.jpg"
        style="width: auto; height: auto"
      />
    </div>
    <div class="col-4 text-center">
      <img
        class="img-fluid"
        routerLinkActive="active"
        src="https://i.ibb.co/fGX7sFh/4e219998fadcbc70.jpg"
        style="width: auto; height: auto"
      />
    </div>
  </div>
  <div
    class="row border-top mt-2"
    style="background-color: #fff; color: #848484"
  >
    <div class="col mt-3" style="font-size: 10px">
      <h6>Flipkart: The One-stop Shopping Destination</h6>
      <p>
        E-commerce is revolutionizing the way we all shop in India. Why do you
        want to hop from one store to another in search of the latest phone when
        you can find it on the Internet in a single click? Not only mobiles.
        Flipkart houses everything you can possibly imagine, from trending
        electronics like laptops, tablets, smartphones, and mobile accessories
        to in-vogue fashion staples like shoes, clothing and lifestyle
        accessories; from modern furniture like sofa sets, dining tables, and
        wardrobes to appliances that make your life easy like washing machines,
        TVs, ACs, mixer grinder juicers and other time-saving kitchen and small
        appliances; from home furnishings like cushion covers, mattresses and
        bedsheets to toys and musical instruments, we got them all covered. You
        name it, and you can stay assured about finding them all here. For those
        of you with erratic working hours, Flipkart is your best bet. Shop in
        your PJs, at night or in the wee hours of the morning. This e-commerce
        never shuts down.
      </p>
    </div>
  </div>
  <div class="row" style="background-color: #fff; color: #848484">
    <div class="col" style="font-size: 10px">
      <h6>Flipkart Plus</h6>
      <p>
        A world of limitless possibilities awaits you - Flipkart Plus was
        kickstarted as a loyalty reward programme for all its regular customers
        at zero subscription fee. All you need is 500 supercoins to be a part of
        this service. For every 100 rupees spent on Flipkart order, Plus members
        earns 4 supercoins & non-plus members earn 2 supercoins. Free delivery,
        early access during sales and shopping festivals, exchange offers and
        priority customer service are the top benefits to a Flipkart Plus
        member. In short, earn more when you shop more! What's more, you can
        even use the Flipkart supercoins for a number of exciting services,
        like: An annual Zomato Gold membership An annual Hotstar Premium
        membership 6 months Gaana plus subscription Rupees 550 instant discount
        on flights on ixigo Check out https://www.flipkart.com/plus/all-offers
        for the entire list. Terms and conditions apply.
      </p>
    </div>
  </div>
  <div class="row" style="background-color: #fff; color: #848484">
    <div class="col" style="font-size: 10px">
      <h6>No Cast EMI</h6>
      <p>
        In an attempt to make high-end products accessible to all, our No Cost
        EMI plan enables you to shop with us under EMI, without shelling out any
        processing fee. Applicable on select mobiles, laptops, large and small
        appliances, furniture, electronics and watches, you can now shop without
        burning a hole in your pocket. If you've been eyeing a product for a
        long time, chances are it may be up for a no cost EMI. Take a look ASAP!
        Terms and conditions apply.
      </p>
    </div>
  </div>
</div>
