<div class="row ml-lg-3">
  <img
    (click)="prodDetail(mobile.id)"
    src="{{ mobile.img }}"
    routerLinkActive="active"
    style="height: 150px; cursor: pointer"
  />
</div>
<div
  class="row p-0"
  style="font-size: 12px; font-weight: 500; margin-top: 15px"
>
  {{ mobile.name | short: 20 }}...
</div>
<div class="row" id="abc">
  <div class="col" id="abc" style="color: #388e3c; font-size: 10px">
    {{ mobile.discount }} % Off
  </div>
</div>
